.main
{
	text-align: center;
    vertical-align: middle;
/*     padding-top: 25%; */
	padding: 25% 35%;
}

.login
{
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10%;
}

.field
{
	padding-bottom: 15%;
}
.field input
{
	text-align: center;
	font-weight: 600;
	width: 200px;
	height: 35px;
	background-color: white;
}

.field input:focus
{
	font-weight: 100;

}

.button input
{
	width: 150px;
	height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
}

.remember
{
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'Arimo', sans-serif;
	font-size: 10pt;
}

.error
{
	color: red;
	font-family: 'Source Sans Pro';
}